
body{
    background-color: white;
}
#postpara{
    height:450px;
    margin:30px;
}
#headingofpost{
    text-align: center;
}
#firstline{
    margin:7.5px;
    margin-left:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#editbutton{

    position:absolute;
    left:1000px;
    top:158px;
    color:white;
    height:30px;
    background-color: red;
    display:block;
    
    /*padding:5px;*/


}

textarea:focus, input:focus{
    outline: none;
}
#savebutton{
    position:absolute;
    left:1166px;
    top:158px;
    color:white;
    height:30px;
    background-color: red;
    
}
.overlay2 {
    position: absolute;
    top: 204px;
    left: 38px;
    height: 379px;
    width: 120%;
    /* z-index: 10; */
    background-color: rgba(0, 0, 0, 0);
  }